{% extends "model-page.html" %}


{% block content %}
    <div>
        <h2 font face="Montserrat"><i>Evento</i></h2>
        <form action="submit" method="POST"> {% csrf_token %}
            <label font face="Arial"><i>Titulo: </i></label>
            <br>
            <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
            <input type="text" name="titulo" size="23" value="{{ evento.titulo }}" placeholder="Titulo da Agenda">
            <br>
            <label><i>Data do Evento:</i></label>
            <br>
            <input type="datetime-local" name="data_evento" value="{{evento.get_data_input_evento}}">
            <br>
            <label><i>Descricao:</i></label>
            <br>
            <textarea name = "descricao" rows="5" cols="23" placeholder="Descrição e observação do evento">{{evento.descricao}}</textarea>
            <br>
            <label><i>Local:</i></label>
            <br>
            <input type="text" name="local" size="23" value="{{evento.local}}" placeholder="Local do Evento">
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="reset" class="btn btn-danger">Apagar</button>
            <!--<button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm">Small button</button>-->
            <a href="/">
                <button type="button" class="btn btn-secondary">Cancelar</button>
            </a>
        </form>
    </div>
{% endblock %}